/* body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset {
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #cccccc;
    background: #f8f8f8;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer;
}

input[type="text"] {
    width: 20em;
}

textarea {
    width: 20em;
    height: 10em;
}

input.radio,
input.checkbox,
input.submit {
    width: auto;
}

.radio {
    margin-right: 1em;
} */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #643d87 url(../img/fundo.jpg) no-repeat top center;
}

#container {
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

#container img {
    width: 120px;
    height: 120px;
    margin-top: -120px;
    margin-bottom: 30px;
}

input {
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
}

input.email {
    background-image: url(../img/icone-usuario.png);
}

input.senha {
    background-image: url(../img/icone-cadeado.png);
}

input.submit {
    color: #fff;
    background-color: #f79300;
    border: 2px solid #db7d00;
    padding: 5px 20px;
    height: 45px;
    width: 90%;
    background: linear-gradient(to bottom, #faa600, #f68a00);
}